{{define "head"}}
<title>Website | {{.title}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" sizes="32x32" href="/static/medias/favicon32x32.png">
<link rel="stylesheet" href="/static/plugins/bootstrap-5.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/styles/app.css"/>
<script src="/static/plugins/jquery-3.7.1/jquery-3.7.1.min.js"></script>
<script src="/static/plugins/bootstrap-5.3.6/js/bootstrap.bundle.min.js"></script>
<script src="/static/scripts/app.js"></script>
{{end}}
