<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    {{template "head" .}}
    <meta name="author" content=""/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <style></style>
</head>
<body class="">
    <header>
        {{template "header" .}}
    </header>
    <main>
        <div>
            Content
        </div>
    </main>
    <footer>
        {{template "footer" .}}
    </footer>
    <script>
        $(() => {
            // Page code
        });
    </script>
</body>
</html>
